doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='author' content='Jhon Rocha')
  title Poker Scrum
  // CSS only
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(href='style.css' rel='stylesheet')
body
  #app
    | {{message}}
  footer.container
    p &copy; Company 2017-2020
  script(src="https://cdn.jsdelivr.net/npm/vue")
  script(src="script.js")
